@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: "Lato", sans-serif;
    overflow: hidden;
  }
  
  nav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #111; */
    background-color: #00F;
    overflow-x: hidden;
    padding-top: 20px;
  }
  nav li {
    float: left;
  }
  nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  nav a:hover {
    color: #f1f1f1;
    background-color: #818181;
  }
  .nav_bar_links li.trigram {
    display: none;
  }

  
  .nav_bar_links{
    list-style-type: none;
  }


  .main {
    font-size: 28px; /* Increased text to enable scrolling */
    /* padding: 0px 10px; */
    display: none;
    
  }
  .add_new_address {
    font-size: 28px; /* Increased text to enable scrolling */
    /* padding: 0px 10px; */
    display: none;
  }

  .update_address {
    font-size: 28px; /* Increased text to enable scrolling */
    /* padding: 0px 10px; */
    display: none;
  }

  .login_page {
    font-size: 28px; /* Increased text to enable scrolling */
    /* padding: 0px 10px; */
    display: block;
  }
  .right_base_page {
    margin-left: 300px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    
  }

  nav .login {
    background-color: lawngreen;

  }

  .contactListContainer{
    background-color: green;
    width: 900px;
    margin-right: 50px;
    /* padding-right: 0px;
    padding-left: 0px; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    float: left;
    display: block;
    overflow: scroll;
    overflow-x: hidden;



    
  }

  .MapContactsContainer{
    /* background-color: blue;
    height: 100%;
    height: 500px; */
    /* display: flex; */
    margin: auto;
    width: 1100px;
    height: 600px;
    /* border: 3px solid green; */
    /* background-color: rgba(255, 255, 255, .8); */
    background-color: red;
    box-shadow: 0px 3px 15px 3px black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
  }



  /* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */

  .logo{
    position: relative;
    text-align: center;
    /* background-color: lawngreen; */
  }

  .googleMapIframe{
    width: 100%;
    height: 100%;

    /* position: relative; */
    
    
  }

  .mapContainer{
    background-color: yellow;
    width: 100%;
    height: auto;
    padding: 20px;
    display: block;
    float: left;

  }
  .userElementContainer{
    /* border-style: solid; */
    background-color: white;
    cursor: pointer;
    box-shadow: 0 9px 5px #999;
    height: auto;
    width: 100%;
    display: flex;
    
    /* display: flex; */
    /* margin: auto; */
    /* justify-content: space-between; */
    /* padding: 10px; */
    /* height: 10em; */
    align-items: center;
    margin-bottom: 20px;
    transition: 0.3s;
  }
  .marginContainer{
    margin: 10px;
    display: flex;
  }

  .userElementContainer:hover {
    background-color: rgb(128, 128, 128, 0.3);
    transition: 0.3s;
  }
  .userElementContainer:active {
    box-shadow: 0px 5px #666;
    transform: translateY(4px);
  
  }

  .pictureContainer{
    /* float: left; */
    vertical-align: middle;
    cursor: pointer;
    /* height: 50%;
    width: 50%; */
  }
  
  .userTextContainer{
    cursor: pointer;
    width: 100%;
    height: auto;
    margin-left: 10px;
  
  }
  
  .userNameContainer{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
  }
  
  .userAddressContainer{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
  }
  
  .roundCornerPicture{
    border-radius: 50px;
    width: 60px;
    height: auto;
  }
  .listContainer{
    width: 43%;
    height: auto;
    overflow: scroll;
    padding: 20px;
    overflow-x: hidden;
    
  }




  @media only screen and (max-width: 600px) {
    body {
  
      background-color: lightblue;
      overflow-y: visible;
    }

    nav {
      width: 100%;
      height: auto;
      position: relative;

    }
    .right_base_page{
      margin-left: 0%;
      display: block;
    }
    ul.nav_bar_links :not(:nth-child(1)){
      display: none;
    }
    .nav_bar_links li.trigram {
      display: block;
      float: right;
    }
    ul.nav_bar_links.responsive li.trigram{
      position: absolute;
      top: 0;
      right: 0;
    }
    .nav_bar_links.responsive {
      position: relative;
    }
    .nav_bar_links.responsive li{
      display: inline;
      float: none;
    }
    .nav_bar_links.responsive li a {
      display: block;
      float: none;
    }
    .googleMapIframe{
      width: 100%;
      height: 1000px;
    }

    
  }

/* Login */
#login_holder {
	height: 400px;
	width: 400px;
	background-color: #ffff;
	opacity: 0.8;
	margin: auto;
	margin-top: 120px;
	box-shadow: 0px 3px 15px 3px black;
	display: grid;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

  /* #login_holder h1,  */
  #login_holder > #login_err_msg_holder,
  #login_holder > #login_form
  {
	justify-items: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
  }

  #err_msg {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	color: red;
  }

  #login_form {
	display: grid;
	justify-items: center;
	align-items: center;
  }

  ::placeholder {
	color: rgba(28, 28, 241, .4);

  }

  .login_form_field {
	border: none;
	border-bottom: 1px solid #dfcdcd;
	margin-bottom: 10px;
	outline: none;
	padding: 0px 0px 5px 5px;
	font-size: medium;
	font-family: "Montserrat", sans-serif;
  }

  .green_button {
	border-style: solid;
	border-color: rgb(0, 150, 7);
	border-radius: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;

	background-color: rgb(0, 179, 9);
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	
	box-shadow: 0 9px 5px #999; 
	transition: all 0.3s ease 0s;
	cursor: pointer;
  }

  .blue_button {
	border-style: solid;
	border-color: #3385ff;
	border-radius: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;

	background-color: #66a3ff;
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	
	box-shadow: 0 9px 5px #999; 
	transition: all 0.3s ease 0s;
	cursor: pointer;
  }

  .red_button {
	border-style: solid;
	border-color: #e60000;
	border-radius: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;

	background-color: #ff1a1a;
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	
	box-shadow: 0 9px 5px #999; 
	transition: all 0.3s ease 0s;
	cursor: pointer;
  }
  
  .green_button:hover {

	background-color: #094e00;
	color: #ffffff;
  }
  
  .green_button:active {
	background-color: rgb(0, 0, 0);
	box-shadow: 0px 5px #666;
	transform: translateY(4px);
  }

  .blue_button:hover {

	background-color: #001572;
	color: #ffffff;
  }
  
  .blue_button:active {
	background-color: rgb(0, 0, 0);
	box-shadow: 0px 5px #666;
	transform: translateY(4px);
  }

  .red_button:hover {

	background-color: #630000;
	color: #ffffff;
  }
  
  .red_button:active {
	background-color: rgb(0, 0, 0);
	box-shadow: 0px 5px #666;
	transform: translateY(4px);
  }
  

  .red_button:hover {

	background-color: #630000;
	color: #ffffff;
  }
  
  .red_button:active {
	background-color: rgb(0, 0, 0);
	box-shadow: 0px 5px #666;
	transform: translateY(4px);
  }
  
  .login_footer {
	float: left;
	margin-top: 50px;
	/* justify-content: flex-end; */
	display: flex;
	justify-content: space-between;
	align-items: center;
  }

  #username_field{
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	
  }

  #password_field{
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
  }

  #sign_up_link
  {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	width: auto;
	
 }

 #sign_up_link{
	transition: all 0.3s ease 0s;
}
  
#sign_up_link:hover{
	color: #929292;
}

/* Add New User */

#add_new_user{
	height: auto;
	width: 600px;
	/* background-color: #ffff;
	opacity: 0.8; */
	background-color: rgba(255, 255, 255, .8);
	margin: auto;
	margin-top: 120px;
	box-shadow: 0px 3px 15px 3px black;
	display: grid;


	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
#add_new_user_form{
	/* display: flex;
	justify-content: space-between;
	align-items: center; */
}

#add_new_user_field_pair{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#remember_me{
	display: flex;
	justify-content: flex-start;
	align-items: center;	
}

#add_new_user_form_field {
	border: none;
	border-bottom: 1px solid #dfcdcd;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	
	/* size: 25; */
	/* margin-bottom: 10px;
	outline: none;
	padding: 0px 0px 5px 5px;
	font-size: medium;
	font-family: "Montserrat", sans-serif; */
  }


.inner_nav_bar{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;

	
}

.inner_nav_bar_links {
	list-style: none;
	
	width:fit-content; 
	margin:auto; 
	list-style:none;

}
.inner_nav_bar_links li {
	display: inline-block;
	padding: 7px ;
	border-style: solid;
	border-color: #00cc00;
	background-color: #00e600;
	
	/* box-shadow: 2px 2px 2px 2px grey; */
	box-shadow: 0 9px 5px #999;
	
	border-radius: 4px;
	margin-right: 10px;
	margin-left: 10px;
}
  
.inner_nav_bar_links li a{
	transition: all 0.3s ease 0s;
}
  
.inner_nav_bar_links li a:hover{
	/* color: #0088a9; */
	color: #ffffff;
}


















  