@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
	margin:0px; 
	padding:0px;
	box-sizing: border-box;
}

#mainView{background:#D69C61;}
#newAddressView{background:#D6CF61;}
#updateDeleteView{background:#A8D661;}
#loginView{background:#61D6A3;}


main {

	position: relative;
	overflow: hidden;
	height: 100vh;
	
}
 
header{
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0%	
}
.logo{
	cursor: pointer;
	background-color: aqua;
}

section {
	/* padding: 3em 1em 1em; */
	width:100%;
	height: 100vh;
	background: white;
	/* width:100%;  */
	/* height:1000px;  */
	float:left;	
}

nav{
	overflow: hidden;
	/* margin-left: 60px; */
	width:100%; 
	position:fixed; 
	z-index:1;

	/* top:80px; */
	background-color: aqua;
}

li, a{
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
	
}

h1{
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 32px;
	color: #edf0f1;
	text-decoration: none;
	/* color:#fff;  */
	text-align:center; 
	margin-top:100px;
	
}



ul{
	width:fit-content; 
	margin:auto; 
	list-style:none;
	
}

.pageDivContainer{
	margin-top: 50px;
	
}

.center{
	display: flex;
	justify-content: center;
	align-items: center;
}

ul li{
float:left; 
margin-right:30px;
}

ul li a{
	color:#fff; 
	text-decoration:none;
}

.nav__links {
	list-style: none;
}
.nav__links li {
	display: inline-block;
	padding: 0px 20px;
}
  
.nav__links li a{
	transition: all 0.3s ease 0s;
}
  
.nav__links li a:hover{
	color: #0088a9;
}

.border{
	/* border: #000000; */
	border-color: #000000;
	border-style: dotted;
}