@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Background Colors */
#mainView{background:#D69C61;}
#newAddressView{background:#D6CF61;}
#updateDeleteView{background:#A8D661;}
#loginView{background:#61D6A3;}
/* background-image: url(../img/world_map.jpg); */

#mainView{background: url(../img/bg.jpg);}
#newAddressView{background: url(../img/bg.jpg);}
#updateDeleteView{background: url(../img/bg.jpg);}
#loginView{background: url(../img/bg.jpg);}

*{
	margin:0px; 
	padding:0px;
	box-sizing: border-box;
}

header{
	position:fixed; 
	display: flex;
	justify-content: flex-end;
	align-items: center;
	/* padding: 20px 50px; */
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 80px;
	padding-left: 20px;
	width: 100%;
	background-color: #e1c699;
	box-shadow: hotpink;
	
	
}

main {

	position: relative;
	overflow: hidden;
	height: 100vh;
	/* scroll-behavior: auto; */
	
}

section {
	/* padding: 3em 1em 1em; */
	width:100%;
	height: 100vh;
	background: white;
	/* width:100%;  */
	/* height:1000px;  */
	float:left;	
}

h1{
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 32px;
	color: #555555;
	text-decoration: none;
	/* color:#fff;  */
	text-align:center; 
	margin-top:160px;
	
}

li, a{
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: #000000;
	text-decoration: none;
	
}

ul{
	width:fit-content; 
	margin:auto; 
	list-style:none;
	
}

.logo{
	cursor: pointer;
	margin-right: auto;

}

.nav_bar_links {
	list-style: none;

	width:fit-content; 
	margin:auto; 
	list-style:none;
}
.nav_bar_links li {
	display: inline-block;
	padding: 0px 20px;
}
  
.nav_bar_links li a{
	transition: all 0.3s ease 0s;
}
  
.nav_bar_links li a:hover{
	color: #0088a9;
}

.center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.pageDivContainer{
	margin-top: 50px;
}

.loginBorder{
	border-style: solid;
	border-color: rgb(3, 192, 192);
	border-radius: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	
	background-color: rgb(0, 173, 173);
}
